<section class="hero">
  <div class="hero__overlay">
    <div class="hero__content">
      <div>
        <h1 class="hero__title mb-0">
          <span class="gradient-text">gophers</span>
          <span class="gradient-text green">m</span
          ><span class="gradient-text red">x</span>
        </h1>
        <p class="mb-0 mt-0">{{ $.Site.Params.description }}</p>
        <a href="https://t.me/golangmx" target="_blank" rel="noopener noreferrer">
          <button class="btn btn__center mt-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="#00ccff80"
              fill="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
            </svg>
          </button>
        </a>
      </div>
      <picture>
        <source srcset="/img/favicon.webp" type="image/webp" />
        <img
          class="hero__img"
          src="/img/favicon.png"
          alt="gophers México"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <canvas id="particle-canvas"></canvas>
</section>
